.smuCheckbox {
    height: 30px;
}

.checkSmu {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
}

.checkSmu input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-indicator-large{
    position: absolute;
    top: 0px;
    left: 0;
    height: 26px;
    width: 26px;
    background: #F1F1F1;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
}

.checkSmu:hover input~.checkbox-indicator-large,
.checkSmu input:focus~.checkbox-indicator-large {
    background: #F1F1F1;
}

.checkSmu input:checked~.checkbox-indicator-large {
    background: #3C9FE5;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 2px 5px 2px rgba(60, 159, 229, 0.85);
}

.checkbox-indicator-large:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.checkSmu input:checked~.checkbox-indicator-large:after {
    display: block;
}

.control-checkbox-large .checkbox-indicator-large:after {
    left: 9px;
    top: 3px;
    width: 6px;
    height: 13px;
    border: solid #FFFFFF;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}
